{% extends 'base.html' %}

{% block title %} Car Details {% endblock %}

{% block body %}

    <h2>{{ car.make }} - {{ car.model }}</h2>
    <hr>
    {% if car.image %}
        <img src="{{ car.image.url }}" alt="car img">
    {% endif %}
    <p>description: {{ car.description }}</p>
    <p>Publish year: {{ car.year }}</p>
    <span>Category: {{ car.category.name }}</span>
    <p>Price: {{ car.price }}</p>
    <p>Quantity: {{ car.quantity }}</p>
    <hr>
<a href="{% url 'core:index' %}">Home page</a>
    <hr>
    <a href="{% url 'core:update_car' car.pk %}">Update Car</a>

{% endblock %}