{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
                <h2>Filters</h2>
                <form action="" class="border border-info p-4 rounded">
                    <select class="form-select mb-3" name="category">
                        <option value="">All Categories</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}" {% if category == cat.id|stringformat:'s' %}selected{% endif %}>
                                {{ cat }}
                            </option>
                        {% endfor %}
                    </select>

                    {% if search_query %}
                        <input type="hidden" name="q" value="{{ search_query }}">
                    {% endif %}

                    <input class="form-control mb-2" type="number" name="year" placeholder="minimum year" value="{{ year }}">
                    <input class="form-control mb-3" type="number" name="max_year" placeholder="maximum year" value="{{ max_year }}">

                    <button class="btn btn-info rounded-pill px-4" style="color: white" type="submit">Filter</button>
                </form>
        </div>
        <div class="col-lg-9">
            <div class="d-flex">
                <h2 style="margin-right: 100px">Car List({{ total_car }})</h2>
                <a class="btn btn-primary" href="{% url 'core:add_car' %}" style="margin-right: 50px">Add New Car</a>
            </div>
            <div class="row justify-content-between g-4">
                {% for car in cars %}
                <div class="card" style="width: 16rem;">
                  {% if car.image %}
                      <img src="{{ car.image.url }}" class="card-img-top" style="height: 200px; width: 200px; margin: auto" alt="...">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
                    <p class="card-text">{{ car.description|truncatechars:50 }}</p>
                    <a href="{% url 'core:car_details' car.pk %}" class="btn btn-primary">See full info</a>
                  </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}